h1 {color: 	#d72626;
    font-size: 60px;
    font-family: 'Stardom';
    margin: 20px;
}

h2 {color: #f0c362;
    font-size: 28px;
    font-family: 'Stardom';
    margin: 20px;
}

p {
    font-family: 'General Sans';
    text-align: justify;
    margin: 20px;
}

img{box-shadow: 5px 5px 10px;
    width: 600px;
    height: 400px; 
    object-fit: cover;
    margin-left: 20px;
}

a {background-color: #ff8080;
    border: 2px solid #9c5f67;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family:'Stardom';
    font-size: 13px;
    color:#F7F7F7;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}
a:hover{background-color: #e72f48;}

.nupud{text-align: center;}

section {margin-bottom:
    60px;
    padding: 30px;
    margin: 45px;
    background-color: #fffbf7;
    border-radius: 10px;
}

body {background-color: #f0c362;}

iframe {
    width: 400px;
    height: 300px;
    border: 0;
    float: right;
    margin-left: 20px;
    margin: 0;
    position: relative;
}

.karuselli-ja-mapsi-konteiner {
    display: flex;
    gap: 20px;
}

.mapsi-konteiner {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.maps {
    width: 100%;
    align-items: flex-start;
}

.kirjeldus {color: #2b2c2a;
    margin-top: 30px;
    font-size: 18px;
}

.mapsi-tekst {color: #f0c362;
    text-align: left;
    font-size: 14px;
    max-width: 600px;
    margin-left: 40px;
    line-height: 6px;
    font-weight: 900;
}