body {
    font-family: 'General Sans'; /* General Sans jääb samaks */
    margin: 0;
    padding: 0;
    background-color: #F7F7F7; /* Taustavärv muudetud */
    color: #50514F; /* Teksti värv muudetud */
    text-align: center; /* Keskjoondus kogu sisule */
}

header {
    background-color: #077C58; /* Uus taustavärv */
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1 {
    color: #b5ba72; /* Uus värv */
    font-size: 60px; /* Suurus */
    font-family: 'Stardom'; /* Uus font */
    margin: 20px 0;
}

p {
    color: #2c3028; /* Teksti värv */
    font-size: 18px; /* Suurus */
    font-family: 'General Sans'; /* Sama font */
    text-align: center; /* Joondatud keskele */
    margin: 20px auto;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #FFFCFF; /* Uus taustavärv */
}

.category {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.category h3 {
    font-size: 1.5rem;
    color: #8FA581; /* Lisatud uus värv */
    font-family: 'Stardom';
}

.mapsi-tekst {
    text-align: center;
    max-width: 600px;
    font-size: 16px;
}

a {background-color: #B3BEA8;
    border: 2px solid #8FA581;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family:'Stardom';
    font-size: 13px;
    color:#F7F7F7;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}
a:hover{background-color: #8FA581;}