h1 {color: 	#077d5a;
    font-size: 60px;
    font-family: 'Stardom';
    margin: 20px;
}

h2 {color: #b5ba72;
    font-size: 28px;
    font-family: 'Stardom';
    margin: 20px;
}

p {
    font-family: 'General Sans';
    text-align: justify;
    margin: 20px;
}

img{box-shadow: 5px 5px 10px;
    margin: 20px;
    width: 600px;
    height: 400px; 
    object-fit: cover;
}

a {background-color: #B3BEA8;
    border: 2px solid #8FA581;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family:'Stardom';
    font-size: 13px;
    color:#F7F7F7;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}
a:hover{background-color: #8FA581;}

.nupud{text-align: center;}

section {margin-bottom:
    60px;
    padding: 30px;
    margin: 45px;
    background-color: #f3f4f1;
    border-radius: 10px;
}

body {background-color: #F7F7F7;}

iframe {
    width: 400px;
    height: 300px;
    border: 0;
    float: right;
    margin-left: 20px;
    margin: 0;
    position: relative;
}

.pildikarusell {box-shadow: 5px 5px 10px;
    margin: 0 auto;
    width: 400px;
    max-width: 600px;
    height: 400px; 
    position: relative;
    overflow: hidden;
    flex: 2;
}

.pilt {margin: 0 auto;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.pilt.aktiivne {display:block}

.nupp{position: absolute;
    top: 50%;
    color: white;
    border: none;
    font-size: 20px;
    background-color: transparent;
    border: none;
}

.nupp.vasakule {left: 15px}

.nupp.paremale {right: 15px}

.karuselli-ja-mapsi-konteiner {
    display: flex;
    gap: 20px;
}

.mapsi-konteiner {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.maps {
    width: 100%;
    align-items: flex-start;
}

.kirjeldus {color: #2b2c2a;
    margin-top: 30px;
    font-size: 18px;
}

.mapsi-tekst {color:#b5ba72;
    text-align: left;
    font-size: 14px;
    max-width: 600px;
    margin-left: 50px;
    line-height: 6px;
    font-weight: 900;
}
