body {
    font-family: 'General Sans';
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    color: #50514F;
    text-align: center;
}

header {
    background-color: #c3c5a0;
    color: white;
    text-align: center;
    padding: 50px 0;
}

h1 {
    color: #196e2a;
    font-size: 60px;
    font-family: 'Stardom';
    margin: 20px 0;
}

h2{color: #196e2a}

p {
    color: #2c3028;
    font-size: 18px;
    font-family: 'General Sans';
    text-align: center;
    margin: 20px auto;
}

.kategooriad {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #FFFCFF;
}

.kategooria {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.kategooria h3 {
    font-size: 1.5rem;
    color: #8FA581;
    font-family: 'Stardom';
}

.mapsi-tekst {
    text-align: center;
    max-width: 600px;
    font-size: 16px;
}

a {background-color: #B3BEA8;
    border: 2px solid #8FA581;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-family:'Stardom';
    font-size: 13px;
    color:#F7F7F7;
    font-weight: bold;
    margin: 5px;
    display: inline-block;
}
a:hover{background-color: #8FA581;}